.App {
  min-height: 100vh;
}

.main-layout {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px); 
}

.sidebar {
  width: 250px;
  color: white;
  box-shadow: 0 8px 20px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 11px );
  -webkit-backdrop-filter: blur( 11px );
  height: 100vh;

}

.content-area {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* border-radius: 5px; */
  overflow-y: auto;
}

.content-area h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.content-area p {
  font-size: 16px;
  line-height: 1.5;
  color: #7f8c8d;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}


h1 {
    color: #000000;
    margin-bottom: 20px;
} 




table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

th {
  background-color: rgb(72, 164, 197);
  color: #fff;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
