.tabs {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  /* border-radius: 10px; */
  /* border: 0px solid rgba(255, 255, 255, 0.18); */
  margin-top: 50px;
  }
  
  .tab {
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #ecf0f1;
    background-color: rgb(118, 118, 118);
    box-shadow: 0 8px 20px 0 rgba(42, 42, 42, 0.37);
    border-radius: 100px;
    transition: all 0.3s ease;
    text-align: center;
  }
  
  .tab:hover {
    background-color: rgb(72, 164, 197);  /* Hover effect */
    transform: scale(1.05);  /* Slight scaling effect on hover */
  }
  
  .tab.active {
    background-color: rgb(72, 164, 197);  /* Highlight active tab with different color */
    font-weight: bold;
  }
  
  .tab.active:hover {
    background-color: rgb(72, 164, 197);  /* Prevent color change on hover for active tab */
  }


  .file-upload-section {
    border-radius: 8px;
    padding: 20px;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
  }
  
  .file-upload-section h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  .file-upload-button {
    display: inline-block;
    background-color: rgb(72, 164, 197); /* Blue color for the button */
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  .file-upload-button:hover {
    background-color: #0056b3; /* Darker blue when hovering */
  }
  
  .file-upload-section input[type="file"] {
    display: none; /* Hide the default file input */
  }
  
  .file-details {
    margin-top: 15px;
    text-align: left;
    font-size: 14px;
    color: #333;
    max-width: 100%; /* Set a max-width (adjust as needed) */
    overflow: hidden; /* Hide anything overflowing */
    text-overflow: ellipsis; /* Add ellipsis if content overflows */
    white-space: nowrap; /* Prevent wrapping of text */
  }
  
  .file-details p {
    margin: 8px 0;
  }
  
  .file-name {
    color: #007bff; /* Blue color for file name */
    font-size: 16px;
    font-weight: bold;
    max-width: 100%; /* Ensure the file name also respects the container width */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Prevent file name from wrapping */
  }
  
  .file-name strong {
    color: #007bff;
  }
  
  .no-file {
    color: #888; /* Grey color for no file chosen text */
    font-size: 14px;
  }
  
  .error-text {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
  }
  