.tabs {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    border-right: 2px solid blue;
  }
  
  .tab {
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #ecf0f1;
    background-color: black;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-align: center;
  }
  
  .tab:hover {
    background-color: blue;  /* Hover effect */
    transform: scale(1.05);  /* Slight scaling effect on hover */
  }
  
  .tab.active {
    background-color: blue;  /* Highlight active tab with different color */
    font-weight: bold;
  }
  
  .tab.active:hover {
    background-color: blue;  /* Prevent color change on hover for active tab */
  }




  

  .file-upload-section {
    margin-top: 20px;
  }
  
  .file-upload-section input {
    display: block;
    margin: 10px 0;
  }
  
  .file-upload-section pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
  }
  
  